html {
    font-family: 'Montserrat', sans-serif;
    background-image: url('/pizza.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

app-root {
  display: flex;
  flex-direction: column;
  height: 100%;
}
  